#title {
  display: inline-block;
  margin: 20px 0 20px 0;
}

#login {
  float: right;
  margin: 29px 0 29px 0;
}

img {
  height: 420px; 
  width: 300px;
  margin: 30px;
  display: inline-block;
}

#info {
  margin: 30px;
  display: inline-block;
  position: absolute;
}

#bookSearch {
  margin: 30px 0  30px 40%;
}

#alertStatement {
  color: red;
}

footer p {
  float: right;
}

#addBookButton {
  
}